[package]
name = "avail-subxt"
version = "0.2.1"
authors = ["Luka Borkovic <luka.borkovic@ethernal.tech>"]
edition = "2021"

[lib]
name = "avail_subxt"
path = "src/lib.rs"

[[bin]]
name = "e2e"
path = "src/e2e.rs"

[dependencies]
# Other
derive_more = "0.99.17"
structopt = "0.3.25"
anyhow = "1.0.66"
tokio = { version = "1.21.2", features = [ "process", "fs", "rt-multi-thread"]}
futures = "0.3.25"
jsonrpsee = { version ="0.16.2", features = ["client", "async-client", "macros"]}
num_enum = "0.5.9"

# Substrate
subxt = "0.27"
sp-core = { version = "16.0.0", default-features = false }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "full", "bit-vec"] }
serde = { version = "1.0", features = ["derive"] }
scale-info = { version = "2.0.0", features = ["bit-vec"] }


[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes", "tokio1"] }
futures = "0.3.13"
hex-literal = "0.3.4"
hex = "0.4"
test-case = "1.2.3"
kate = { version = "0.7", git="https://github.com/maticnetwork/avail-core", tag = "da-primitives/v0.4.4" }
kate-recovery = { version = "0.8", git="https://github.com/maticnetwork/avail-core", tag = "da-primitives/v0.4.4" }
log = "0.4.14"
pretty_env_logger = "0.4.0"
derive_more = "0.99.17"
serde_json = "1.0"

# Substrate 
sp-keyring = "18.0.0"

[features]
default = ["api-dev", "std"]
api-dev = []
api-main = []
std = [ "sp-core/std"]

