[package]
name = "da-control"
version = "1.0.1"
authors = [""]
edition = "2021"
license = "Apache-2.0"
homepage = ""
repository = ""
description = "Data Avail Control Module"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
avail-core = { version = "0.5", default-features = false, features = ["runtime"] }
kate = { version = "0.8", default-features = false }

log = { version = "0.4.17", default-features = false }
static_assertions = "1.1.0"

# Substrate
serde = { version = "1.0.126", optional = true, features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2.5.0", default-features = false, features = ["derive"] }
sp-core = { version = "21.0.0", default-features = false }
sp-std = { version = "8.0.0", default-features = false }
sp-io = { version = "23.0.0", default-features = false }
sp-runtime = { version = "24.0.0", default-features = false }
sp-arithmetic = { version = "16.0.0", default-features = false }
frame-support = { version = "4.0.0-dev", default-features = false }
frame-system = { version = "4.0.0-dev", default-features = false }
frame-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }
pallet-utility = { version = "4.0.0-dev", default-features = false }

[dev-dependencies]
pallet-transaction-payment = "4.0.0-dev"
pallet-balances = "4.0.0-dev"
test-case = "1.2.3"

[features]
default = [
	"std",
]
std = [
	"avail-core/std",
	"codec/std",
	"frame-support/std",
	"frame-system/std",
	"kate/std",
	"log/std",
	"pallet-utility/std",
	"scale-info/std",
	"serde",
	"sp-arithmetic/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"avail-core/try-runtime",
	"frame-support/try-runtime",
	"frame-system/try-runtime",
]
