[package]
name = "frame-system-rpc-runtime-api"
version = "4.0.0-dev"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://substrate.io"
repository = "https://github.com/availproject/polkadot-sdk/"
description = "Runtime API definition required by System RPC extensions."
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
sp-api = { workspace = true, default-features = false }
codec = { package = "parity-scale-codec", version = "3", default-features = false }
scale-info = { workspace = true, default-features = false }
frame-system = { workspace = true, default-features = false }
serde = { workspace = true, default-features = false }
sp-std = { workspace = true, default-features = false }
ts-rs = { workspace = true, optional = true }

[features]
default = [ "std" ]
std = [ "codec/std", "frame-system/std", "serde/std", "sp-api/std" ]
ts = [ "ts-rs" ]
