[package]
name = "da-runtime"
version = "6.0.0"
authors = ["Anonymous"]
description = "Avail Runtime"
edition = "2021"
build = "build.rs"
license = "GNU GPLv3"
homepage = "https://www.availproject.org/"
repository = "https://github.com/availproject/avail"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]

# Internal
avail-core = { version = "0.5", default-features = false, features = ["runtime"] }
kate = { version = "0.8" , default-features = false }
da-control = { path = "../pallets/dactr", default-features = false }

## Nomad
nomad-updater-manager = { path = "../pallets/bridges/nomad/updater-manager", default-features = false }
nomad-home = { path = "../pallets/bridges/nomad/home", default-features = false }
nomad-da-bridge = { path = "../pallets/bridges/nomad/da-bridge", default-features = false }

# External 
static_assertions = "1.1.0"
serde = { version = "1.0.121", optional = true, features = ["derive"] }
log = { version = "0.4.17", default-features = false }
hex-literal = { version = "0.3.4", optional = true }

# Substrate
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
parity-util-mem = { version = "0.12.0", default-features = false, features = ["primitive-types"] }
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }

## primitives
sp-io = { version = "7.0.0", default-features = false }
sp-core = { version = "7.0.0", default-features = false }
sp-api = { version = "4.0.0-dev", default-features = false }
sp-runtime = { version = "7.0.0", default-features = false }
sp-authority-discovery = { version = "4.0.0-dev", default-features = false }
sp-version = { version = "5", default-features = false }
sp-consensus-babe = { version = "0.10.0-dev", default-features = false }
sp-staking = {version = "4.0.0-dev", default-features = false }
sp-transaction-pool = { version = "4.0.0-dev", default-features = false }
sp-offchain = { version = "4.0.0-dev", default-features = false }
sp-session = { version = "4.0.0-dev", default-features = false }
sp-block-builder = { version = "4.0.0-dev", default-features = false }
sp-inherents = { version = "4.0.0-dev", default-features = false }
sp-npos-elections = { version = "4.0.0-dev", default-features = false }
sp-std = { version = "5.0.0", default-features = false }

## frame dependencies
frame-support = { version = "4.0.0-dev", default-features = false }
frame-system = { path = "../pallets/system", default-features = false }
frame-executive = { version = "4.0.0-dev", default-features = false }
frame-try-runtime = { version = "0.10.0-dev", default-features = false, optional = true }

pallet-balances = { version = "4.0.0-dev", default-features = false }
pallet-session = { version = "4.0.0-dev", features = ['historical'], default-features = false }
pallet-im-online = { version = "4.0.0-dev", default-features = false }
pallet-grandpa = { version = "4.0.0-dev", default-features = false }
pallet-timestamp = { version = "4.0.0-dev", default-features = false }
pallet-transaction-payment = { version = "4.0.0-dev", default-features = false }
pallet-staking = { version = "4.0.0-dev", default-features = false }
pallet-staking-reward-curve = { version = "4.0.0-dev", default-features = false }
pallet-utility = { version = "4.0.0-dev", default-features = false }
pallet-scheduler = { version = "4.0.0-dev", default-features = false }
pallet-babe = { version = "4.0.0-dev", default-features = false }
pallet-authorship = { version = "4.0.0-dev", default-features = false }
pallet-indices = { version = "4.0.0-dev", default-features = false }
pallet-offences = { version = "4.0.0-dev", default-features = false }
pallet-treasury = { version = "4.0.0-dev", default-features = false }
pallet-collective = { version = "4.0.0-dev", default-features = false }
pallet-bounties = { version = "4.0.0-dev", default-features = false }
pallet-sudo = { version = "4.0.0-dev", default-features = false }
pallet-authority-discovery = { version = "4.0.0-dev", default-features = false }
pallet-elections-phragmen = { version = "5.0.0-dev", default-features = false }
pallet-tips = { version = "4.0.0-dev", default-features = false }
pallet-membership = { version = "4.0.0-dev", default-features = false }
pallet-bags-list = { version = "4.0.0-dev", default-features = false }
pallet-election-provider-multi-phase = { version = "4.0.0-dev", default-features = false }
frame-election-provider-support = { version = "4.0.0-dev", default-features = false }
pallet-democracy = { version = "4.0.0-dev", default-features = false }
pallet-mmr = { version = "4.0.0-dev", default-features = false }
pallet-multisig = { version = "4.0.0-dev", default-features = false }
pallet-child-bounties = { version = "4.0.0-dev", default-features = false }
pallet-preimage = { version = "4.0.0-dev", default-features = false }
pallet-nomination-pools = { version = "1", default-features = false }
pallet-identity = { version = "4.0.0-dev", default-features = false }

pallet-mandate = { path = "../pallets/mandate", default-features = false }

## RPCs
pallet-transaction-payment-rpc-runtime-api = { version = "4.0.0-dev", default-features = false }
frame-system-rpc-runtime-api = { version = "4.0.0-dev", default-features = false }

## benchmarking
frame-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }
frame-system-benchmarking = { path = "../pallets/system/benchmarking", default-features = false, optional = true }
#pallet-session-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }
#pallet-offences-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }
#pallet-election-provider-support-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }

[build-dependencies]
substrate-wasm-builder = "5.0.0-dev"

[dev-dependencies]
test-case = "1.2.3"
hex = "0.4"
hex-literal = "0.3.4"
serde_json = "1.0"
sp-keyring = "7.0.0"
env_logger = "0.9.1"

[features]
default = ["std"]
with-tracing = ["frame-executive/with-tracing"]
fast-runtime = []
header_commitment_corruption = [ "frame-system/header_commitment_corruption"]
std = [
	"serde",
	#"parity-util-mem/std",
	"frame-system-benchmarking?/std",
	"frame-election-provider-support/std",
	"sp-authority-discovery/std",
	"pallet-authority-discovery/std",
	"pallet-authorship/std",
	"sp-consensus-babe/std",
	"pallet-babe/std",
	"pallet-bags-list/std",
	"pallet-balances/std",
	"pallet-bounties/std",
	"sp-block-builder/std",
	"codec/std",
	"scale-info/std",
	"pallet-collective/std",
	"pallet-democracy/std",
	"pallet-elections-phragmen/std",
	"frame-executive/std",
	"pallet-grandpa/std",
	"pallet-im-online/std",
	"pallet-indices/std",
	"sp-inherents/std",
	"pallet-membership/std",
	"pallet-mmr/std",
	"pallet-multisig/std",
	"pallet-nomination-pools/std",
	"pallet-scheduler/std",
	"avail-core/std",
	"sp-offchain/std",
	"pallet-offences/std",
	"pallet-preimage/std",
	"sp-core/std",
	"sp-std/std",
	"pallet-session/std",
	"sp-api/std",
	"sp-runtime/std",
	"sp-staking/std",
	"pallet-staking/std",
	"sp-session/std",
	"pallet-sudo/std",
	"frame-support/std",
	"frame-benchmarking?/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"pallet-election-provider-multi-phase/std",
	"pallet-timestamp/std",
	"pallet-tips/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"pallet-treasury/std",
	"sp-transaction-pool/std",
	"pallet-utility/std",
	"sp-version/std",
	"log/std",
	"frame-try-runtime?/std",
	"sp-io/std",
	"pallet-child-bounties/std",
	"pallet-identity/std",

	"da-control/std",
	"kate/std",
	"nomad-updater-manager/std",
	"nomad-home/std",
	"nomad-da-bridge/std",
	"pallet-mandate/std",
]

runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"da-control/runtime-benchmarks",
	"nomad-home/runtime-benchmarks",
	"nomad-da-bridge/runtime-benchmarks",
	"hex-literal",

	"pallet-babe/runtime-benchmarks",
	"pallet-bags-list/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-bounties/runtime-benchmarks",
	"pallet-child-bounties/runtime-benchmarks",
	"pallet-collective/runtime-benchmarks",
	"pallet-democracy/runtime-benchmarks",
	"pallet-election-provider-multi-phase/runtime-benchmarks",
	"pallet-elections-phragmen/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
	"pallet-im-online/runtime-benchmarks",
	"pallet-indices/runtime-benchmarks",
	"pallet-membership/runtime-benchmarks",
	"pallet-mmr/runtime-benchmarks",
	"pallet-multisig/runtime-benchmarks",
	"pallet-preimage/runtime-benchmarks",
	"pallet-scheduler/runtime-benchmarks",
	"pallet-staking/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-tips/runtime-benchmarks",
	"pallet-treasury/runtime-benchmarks",
	"pallet-utility/runtime-benchmarks",
	"frame-system-benchmarking/runtime-benchmarks",
	"pallet-identity/runtime-benchmarks",
	"pallet-mandate/runtime-benchmarks",
]

try-runtime = [
	"frame-try-runtime/try-runtime",
	"frame-executive/try-runtime",
	"frame-system/try-runtime",
	"frame-support/try-runtime",
	"da-control/try-runtime",
	"nomad-home/try-runtime",
	"nomad-da-bridge/try-runtime",
	"nomad-updater-manager/try-runtime",
	"pallet-utility/try-runtime",
	"pallet-babe/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-indices/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-election-provider-multi-phase/try-runtime",
	"pallet-staking/try-runtime",
	"pallet-session/try-runtime",
	"pallet-democracy/try-runtime",
	"pallet-collective/try-runtime",
	"pallet-elections-phragmen/try-runtime",
	"pallet-membership/try-runtime",
	"pallet-grandpa/try-runtime",
	"pallet-treasury/try-runtime",
	"pallet-sudo/try-runtime",
	"pallet-im-online/try-runtime",
	"pallet-authority-discovery/try-runtime",
	"pallet-offences/try-runtime",
	"pallet-scheduler/try-runtime",
	"pallet-bounties/try-runtime",
	"pallet-mmr/try-runtime",
	"pallet-preimage/try-runtime",
	"pallet-multisig/try-runtime",
	"pallet-bags-list/try-runtime",
	"pallet-nomination-pools/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"pallet-tips/try-runtime",
	"pallet-identity/try-runtime",
	"avail-core/try-runtime",
	"pallet-mandate/try-runtime",
]
