[package]
name = "kate-rpc-runtime-api"
version = "0.1.1"
authors = ["Denis Ermolin <denis.ermolin@matic.network>"]
edition = "2018"

[dependencies]
da-primitives = { version = "0.4", default-features = false }
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
sp-api = { version = "4.0.0-dev", default-features = false }
sp-std = { version = "5.0.0", default-features = false }
sp-core = { version = "7.0.0", default-features = false }
sp-arithmetic = { version = "5.0.0", default-features = false }
frame-system = { version = "4.0.0-dev", default-features = false }
beefy-merkle-tree = { version = "4.0.0-dev", default-features = false }
serde = { version = "1.0.126", optional = true, features = ["derive"] }

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sp-std/std",
	"sp-api/std",
	"sp-core/std",
	"sp-arithmetic/std",
	"frame-system/std",
	"beefy-merkle-tree/std",
	"da-primitives/std",
]
