[package]
name = "kate-rpc-runtime-api"
version = "0.1.0"
authors = ["Denis Ermolin <denis.ermolin@matic.network>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sp-api = { version = "4.0.0-dev", default-features = false }
sp-std = { version = "4.0.0", default-features = false }
frame-system = { version = "6.0.0", default-features = false }

[features]
default = ["std"]
std = [
	"sp-std/std",
	"sp-api/std",
	"frame-system/std",
]
