[package]
name = "e2e"
version = "0.1.0"
edition = "2021"

[workspace]

[dependencies]
avail-subxt = { path = "../avail-subxt" }
async-std = { version = "1.12.0", features = ["attributes", "tokio1"] }
sp-keyring = { version = "24" }
subxt = "0.29"
anyhow = "1.0.66"
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive", "full", "bit-vec"] }
kate-recovery = { git = "https://github.com/availproject/avail-core", tag = "node-v1.8.0.0-rc-1" }
kate = { git = "https://github.com/availproject/avail-core", tag = "node-v1.8.0.0-rc-1" }
avail-core = { git = "https://github.com/availproject/avail-core", tag = "node-v1.8.0.0-rc-1" }
binary-merkle-tree = { git = "https://github.com/paritytech/substrate.git/", branch = "polkadot-v1.0.0" }