[package]
name = "frame-system"
version = "4.0.0-dev"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://substrate.io"
repository = "https://github.com/availproject/polkadot-sdk/"
description = "FRAME system module"
readme = "README.md"

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Our deps.
avail-base = { workspace = true, default-features = false }
avail-core = { workspace = true, default-features = false }
kate = { workspace = true, default-features = false }
avail-observability = { workspace = true, optional = true }

# Other
cfg-if.workspace = true
static_assertions.workspace = true
log.workspace = true
docify.workspace = true
derive_more.workspace = true
hex-literal.workspace = true
itertools = { workspace = true, default-features = false }
thiserror-no-std.workspace = true
ts-rs = { workspace = true, optional = true }

# Substrate
codec = { package = "parity-scale-codec", version = "3.6.1", default-features = false, features = [ "derive"] }
scale-info = { workspace = true, default-features = false, features = ["derive", "serde"] }
serde = { workspace = true, default-features = false, features = ["alloc", "derive"] }
frame-support = { workspace = true, default-features = false }
sp-core = { workspace = true, default-features = false, features = ["serde"] }
sp-io = { workspace = true, default-features = false }
sp-runtime = { workspace = true, default-features = false, features = [ "serde"] }
sp-std = { workspace = true, default-features = false }
sp-version = { workspace = true, default-features = false, features = [ "serde" ] }
sp-weights = { workspace = true, default-features = false, features = [ "serde" ] }
sp-runtime-interface = { workspace = true, default-features = false }
binary-merkle-tree = { workspace = true, default-features = false }
bounded-collections = { workspace = true, default-features = false }

[dev-dependencies]
test-case.workspace = true
criterion.workspace = true
sp-externalities = { workspace = true, default-features = false }
# substrate-test-runtime-client.workspace = true

[features]
default = [ "std" ]
std = [
	"avail-base/std",
	"avail-core/std",
	"binary-merkle-tree/std",
	"bounded-collections/std",
	"codec/std",
	"dep:avail-observability",
	"frame-support/std",
	"kate/std",
	"log/std",
	"scale-info/std",
	"serde/std",
	"sp-core/std",
	"sp-externalities/std",
	"sp-io/std",
	"sp-runtime-interface/std",
	"sp-runtime/std",
	"sp-std/std",
	"sp-version/std",
	"sp-weights/std",
]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"avail-core/try-runtime",
	"frame-support/try-runtime",
	"sp-runtime/try-runtime",
]
experimental = [ "frame-support/experimental" ]

# It enables the corruption of header extensions where block number is greater than 20.
# NOTE: Only for testing and development purposes.
header_commitment_corruption = []

# Enables secure seed generation using for padding fill during the matrix
# generation for Kate commitment.
# NOTE: WIP because that affects the Data Availability Protocol used during 
# the block import process.
secure_padding_fill = []

testing-environment = []

ts = [ "ts-rs" ]

[[bench]]
name = "bench"
harness = false
