[package]
name = "frame-system"
version = "4.0.0-dev"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://substrate.io"
repository = "https://github.com/paritytech/substrate/"
description = "FRAME system module"
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
avail-base = { path = "../../base", default-features = false }
avail-core = { version = "0.5", default-features = false, features = ["runtime"] }
kate = { version = "0.8", default-features = false }

# Other
impl-trait-for-tuples = "0.2.1"
static_assertions = "1.1.0"
log = { version = "0.4.17", default-features = false }
rs_merkle = { version = "1.2.0", default-features = false, optional = true }
derive_more = { version = "0.99.17", default-features = false, features = ["from", "into"] }

# Substrate
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1.0.136", features = ["derive"], optional = true }
frame-support = { version = "4.0.0-dev", default-features = false }
sp-core = { version = "7.0.0", default-features = false }
sp-io = { version = "7.0.0", default-features = false }
sp-runtime = { version = "7.0.0", default-features = false }
sp-std = { version = "5.0.0", default-features = false }
sp-version = { version = "5.0.0", default-features = false }
sp-weights = { version = "4.0.0", default-features = false }
sp-runtime-interface = { version = "7.0.0", default-features = false }
beefy-merkle-tree = { version = "4.0.0-dev", default-features = false }

once_cell = { version = "1.18", optional = true }

[dev-dependencies]
hex-literal = "0.3.1"
test-case = "1.2.3"
criterion = "0.3.3"
sp-externalities = "0.13"

[features]
default = ["std"]
std = [
	"avail-base/std",
	"kate/std",
	"avail-core/std",
	"codec/std",
	"frame-support/std",
	"log/std",
	"scale-info/std",
	"serde",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime-interface/std",
	"sp-runtime/std",
	"sp-std/std",
	"sp-version/std",
	"sp-weights/std",
	"beefy-merkle-tree/std",
	"once_cell"
]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"avail-core/try-runtime"
]
force-rs-merkle = [ "rs_merkle" ]

# For testing backward/forward header compatibility.
header-compatibility-test = [
	"avail-core/header-backward-compatibility-test" ]

# It enables the use of header extension V2
header_extension_v2 = []

# It enables the corruption of header extension where block number is greater than 20.
# NOTE: Only for testing and development purpose.
header_commitment_corruption = []

# Enables secure seed generation using for padding fill during the matrix 
# generation for Kate commitment.
# NOTE: WIP because that affects the Data Availability Protocol used during 
# the block import process.
secure_padding_fill = []

[[bench]]
name = "bench"
harness = false
