[package]
name = "kate-rpc"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
avail-base = { path = "../../base", default-features = false }
da-runtime = { path = "../../runtime", default-features = false }
da-control = { path = "../../pallets/dactr" }


avail-core = { version = "0.5", default-features = false, features = ["runtime"] }
kate = { version = "0.8", default-features = false }
kate-recovery = { version = "0.9", default-features = false }

# 3rd party
jsonrpsee = { version = "0.16.2", features = ["server", "client", "macros"] }
lru = "0.7.2"
nalgebra = "0.32.2"
static_assertions = "1.1.0"

# Substrate
sp-api = { version = "4.0.0-dev", default-features = false }
frame-system = { version = "4.0.0-dev", default-features = false }
frame-support = { version = "4.0.0-dev", default-features = false }
sc-client-db = "0.10.0-dev"
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
sc-client-api = "4.0.0-dev"
sp-blockchain = "4.0.0-dev"
sp-runtime = { version = "7.0.0", default-features = false }

[features]
default = ["std"]
std = [
    "avail-base/std",
    "da-runtime/std",
    "avail-core/std",
    "kate/std",
    "kate-recovery/std",
    "frame-support/std",
    "frame-system/std",
    "codec/std",
    "sp-api/std",
    "sp-runtime/std",
]

# Enables secure seed generation using for padding fill during the matrix 
# generation for Kate commitment.
# NOTE: WIP because that affects the Data Availability Protocol used during 
# the block import process.
secure_padding_fill = []
