[package]
name = "kate-rpc"
version = "0.3.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
avail-base = { path = "../../base", default-features = false }
da-runtime = { path = "../../runtime", default-features = false }

avail-core.workspace = true
kate.workspace = true
kate-recovery.workspace = true

# 3rd party
jsonrpsee = { version = "0.16.2", features = ["server", "client", "macros"] }
moka = { version = "0.12.1", features = ["future"] }
rayon = { version = "1.5.2" }

# Substrate
frame-system = { path = "../../pallets/system", default-features = false }
sc-client-api = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
sp-api = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
sp-blockchain = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }

[features]
default = [ "metrics", "std" ]
std = [
	"avail-base/std",
	"avail-core/std",
	"da-runtime/std",
	"frame-system/std",
	"kate-recovery/std",
	"kate/std",
	"sp-api/std",
	"sp-runtime/std",
]
metrics = []

# Enables secure seed generation using for padding fill during the matrix
# generation for Kate commitment.
# NOTE: WIP because that affects the Data Availability Protocol used during
# the block import process.
secure_padding_fill = []
