[package]
name = "kate-rpc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sp-api = { version = "4.0.0-dev", default-features = false }
sp-std = { version = "4.0.0-dev", default-features = false }
frame-system = { version = "4.0.0-dev", default-features = false }
frame-support = { version = "4.0.0-dev", default-features = false }
kate-rpc-runtime-api = { path = "../kate-rpc-runtime-api", default-features = false }
sc-client-db = { version = "0.10.0-dev", default-features = false }
rs_merkle = { version = "1.2.0", default-features = false }


codec = { package = "parity-scale-codec", version = "2.0.0" }
da-primitives= { path = "../../primitives/avail" }
kate = { path = "../../kate" }
kate-recovery = { path = "../../kate/recovery" }
dusk-plonk = "0.8.2"
dusk-bytes = { version = "0.1.5", default-features = false }
# frame-system = "4.0.0-dev"
frame-system-rpc-runtime-api = "4.0.0-dev"
jsonrpc-core = "18.0.0"
jsonrpc-core-client = "18.0.0"
jsonrpc-derive = "18.0.0"
lru = "0.7.2"
sc-client-api = { version = "4.0.0-dev" }
# sp-api = { version = "4.0.0-dev" }
sp-blockchain = { version = "4.0.0-dev" }
sp-rpc = { version = "4.0.0-dev" }
sp-runtime = { version = "4.0.0-dev" }
