[package]
name = "kate-rpc"
version = "0.3.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
avail-base = { path = "../../base", default-features = false }
da-runtime = { path = "../../runtime", default-features = false }
da-control = { path = "../../pallets/dactr" }
pallet-succinct = { path = "../../pallets/succinct" }

avail-core = { git = "https://github.com/availproject/avail-core", branch = "marko/babe-fix-core", default-features = false, features = ["runtime"] }
kate = { git = "https://github.com/availproject/avail-core", branch = "marko/babe-fix-core", default-features = false }
kate-recovery = { git = "https://github.com/availproject/avail-core", branch = "marko/babe-fix-core", default-features = false }

# 3rd party
jsonrpsee = { version = "0.16.2", features = ["server", "client", "macros"] }
rayon = { version = "1.5.2" }
moka = { version = "0.12.1", features = ["future"] }


# Substrate
sp-api = { git = "https://github.com/markopoloparadox/substrate.git", branch = "marko/babe-fix", default-features = false }
frame-system = { path = "../../pallets/system", default-features = false }
frame-support = { git = "https://github.com/markopoloparadox/substrate.git", branch = "marko/babe-fix", default-features = false }
sc-client-api = { git = "https://github.com/markopoloparadox/substrate.git", branch = "marko/babe-fix" }
sp-blockchain = { git = "https://github.com/markopoloparadox/substrate.git", branch = "marko/babe-fix" }
sp-runtime = { git = "https://github.com/markopoloparadox/substrate.git", branch = "marko/babe-fix", default-features = false }

[features]
default = [ "std" ]
std = [
	"avail-base/std",
	"avail-core/std",
	"da-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"kate-recovery/std",
	"kate/std",
	"sp-api/std",
	"sp-runtime/std",
]

# Enables secure seed generation using for padding fill during the matrix 
# generation for Kate commitment.
# NOTE: WIP because that affects the Data Availability Protocol used during 
# the block import process.
secure_padding_fill = []
