[package]
name = "kate-rpc"
version = "0.3.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
avail-base.workspace = true
da-runtime.workspace = true
frame-system = { workspace = true, default-features = false }
avail-core = { workspace = true, default-features = false }
kate = { workspace = true, default-features = false }
avail-observability = { workspace = true, optional = true }
kate-recovery = { workspace = true, default-features = false }
codec = { package = "parity-scale-codec", version = "3" }
serde_json.workspace = true
serde.workspace = true
const-hex.workspace = true

# 3rd party
jsonrpsee.workspace = true
log.workspace = true

# Substrate
sp-api = { workspace = true, default-features = false }
frame-support = { workspace = true, default-features = false }
sc-client-api = { workspace = true, default-features = false }
sp-blockchain = { workspace = true, default-features = false }
sp-runtime = { workspace = true, default-features = false }
sc-service = { workspace = true, default-features = false }
sp-core = { workspace = true, default-features = false }
frame-system-rpc-runtime-api = { workspace = true, default-features = false }

[features]
default = [ "std" ]
std = [
	"avail-base/std",
	"avail-core/std",
	"da-runtime/std",
	"frame-support/std",
	"frame-system/std",
	"kate/std",
	"sp-api/std",
	"sp-runtime/std",
	"serde/std",
	"sp-core/std",
	"dep:avail-observability",
]

# Enables secure seed generation using for padding fill during the matrix
# generation for Kate commitment.
# NOTE: WIP because that affects the Data Availability Protocol used during
# the block import process.
secure_padding_fill = []
