[package]
name = "data-avail"
version = "1.7.0"
description = "Avail Node"
authors = ["Anonymous"]
homepage = "https://www.availproject.org/"
edition = "2021"
license = "GNU GPLv3"
publish = false
repository = "https://github.com/availproject/avail"
build = "build.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "data-avail"

[dependencies]
avail-base = { path = "../base" }

# Internals
avail-core = { version = "0.5", default-features = false, features = ["runtime"] }
avail-core-kate = { package = "kate", version = "0.8", default-features = false }
da-runtime = { path = "../runtime" }
da-control = { path = "../pallets/dactr" }
kate-rpc = { path = "../rpc/kate-rpc" }
# Nomad
nomad-updater-manager = { path = "../pallets/bridges/nomad/updater-manager" }
nomad-home = { path = "../pallets/bridges/nomad/home" }
nomad-da-bridge = { path = "../pallets/bridges/nomad/da-bridge" }

# 3rd-party
codec = { package = "parity-scale-codec", version = "3" }
clap = { version = "4.0.9", features = ["derive"], optional = true }
jsonrpsee = { version = "0.16.2", features = ["server"] }
futures = "0.3.21"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0"
lru = "0.7.2"
log = "0.4.17"
rand = "0.8"
hex-literal = "0.3.4"
derive_more = "0.99.17"
async-trait = "0.1.60"

# Substrate
## Primitives
sc-cli = "0.10.0-dev"
sp-io = "23.0.0"
sp-statement-store = "4.0.0-dev"
sp-core = "21.0.0"
sc-executor = "0.10.0-dev"
sc-service = "0.10.0-dev"
sc-telemetry = "4.0.0-dev"
sc-keystore = "4.0.0-dev"
sp-keystore = "0.27.0"
sp-keyring = "24.0.0"
sc-transaction-pool = "4.0.0-dev"
sp-transaction-pool = "4.0.0-dev"
sp-inherents = "4.0.0-dev"
sc-transaction-pool-api = "4.0.0-dev"
sp-transaction-storage-proof = "4.0.0-dev" 
sc-consensus-babe-rpc = "0.10.0-dev"
sp-consensus-babe = "0.10.0-dev"
sp-consensus = "0.10.0-dev"
sc-consensus = "0.10.0-dev"
# Renamed: (https://github.com/paritytech/substrate/pull/13458)
sc-consensus-grandpa-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v1.0.0" }
sc-consensus-grandpa = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v1.0.0" }
sp-consensus-grandpa = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v1.0.0" }
sc-client-api = "4.0.0-dev"
sp-runtime = "24.0.0"
sp-timestamp = "4.0.0-dev"
sc-consensus-babe = "0.10.0-dev"
sc-consensus-slots = "0.10.0-dev"
sc-network = "0.10.0-dev"
sp-authority-discovery = "4.0.0-dev"
sc-authority-discovery = "0.10.0-dev"
sc-chain-spec = "4.0.0-dev"
sc-client-db = "0.10.0-dev"
sp-blockchain = "4.0.0-dev"
sp-block-builder = "4.0.0-dev"
sc-basic-authorship = "0.10.0-dev"
sc-sync-state-rpc = "0.10.0-dev"
sp-api = "4.0.0-dev"
sc-sysinfo = "6.0.0-dev"
sc-network-common = "0.10.0-dev"
sc-network-sync = "0.10.0-dev"
primitive-types = "0.12.0"

# FRAME
pallet-im-online = "4.0.0-dev"
frame-system = "4.0.0-dev"
pallet-transaction-payment = "4.0.0-dev"
frame-system-rpc-runtime-api = "4.0.0-dev"
frame-support = "4.0.0-dev"
mmr-rpc = "4.0.0-dev"

# These dependencies are used for the node template's RPCs
sc-rpc = "4.0.0-dev"
sp-rpc = "6.0.0"
sc-rpc-api = "0.10.0-dev"
sc-rpc-spec-v2 = "0.10.0-dev"
substrate-frame-rpc-system = "4.0.0-dev"
pallet-transaction-payment-rpc = "4.0.0-dev"
substrate-state-trie-migration-rpc = "4.0.0-dev"
substrate-prometheus-endpoint = "0.10.0-dev"

# These dependencies are used for runtime benchmarking
frame-benchmarking = "4.0.0-dev"
frame-benchmarking-cli = "4.0.0-dev"

# Try-runtime
try-runtime-cli = { version = "0.10.0-dev", optional = true }

[build-dependencies]
substrate-build-script-utils = "3.0.0"
clap = { version = "4.0.9", optional = true }
clap_complete = { version = "4.0.2", optional = true }
frame-benchmarking-cli = { version = "4.0.0-dev", optional = true }

[dev-dependencies]
sp-tracing = "10.0.0"
tempfile = "3.1.0"

[features]
default = ["cli"]
header_commitment_corruption = [ "da-runtime/header_commitment_corruption"]
fast-runtime = [ "da-runtime/fast-runtime" ]
cli = [
	"clap",
	"clap_complete",
	"frame-benchmarking-cli",
]
runtime-benchmarks = [
	"da-runtime/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"da-control/runtime-benchmarks",
	"nomad-da-bridge/runtime-benchmarks",
	"nomad-home/runtime-benchmarks",
	"nomad-updater-manager/runtime-benchmarks"
]
# Enable features that allow the runtime to be tried and debugged. Name might be subject to change
# in the near future.
try-runtime = [
	"da-runtime/try-runtime",
	"try-runtime-cli/try-runtime",
	"avail-core/try-runtime",
	"da-control/try-runtime",
	"frame-system/try-runtime",
	"nomad-da-bridge/try-runtime",
	"nomad-home/try-runtime",
	"nomad-updater-manager/try-runtime"
]


