[package]
name = "data-avail"
version = "1.5.0"
description = "Polygon Data Avilability Node."
authors = ["Anonymous"]
homepage = "https://polygon.technology/"
edition = "2021"
license = "GNU GPLv3"
publish = false
repository = ""
build = "build.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "data-avail"

[dependencies]
# Internals
da-primitives = { version = "0.4", default-features = false }
kate = { version = "0.6", default-features = false }
da-runtime = { path = "../runtime" }
da-control = { path = "../pallets/dactr" }
kate-rpc = { path = "../rpc/kate-rpc" }
# Nomad
nomad-updater-manager = { path = "../pallets/nomad/updater-manager" }
nomad-home = { path = "../pallets/nomad/home" }
da-bridge = { path = "../pallets/nomad/da-bridge" }

# 3rd-party
codec = { package = "parity-scale-codec", version = "3" }
clap = { version = "4.0.9", features = ["derive"], optional = true }
jsonrpsee = { version = "0.16.2", features = ["server"] }
futures = "0.3.21"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0"
lru = "0.7.2"
log = "0.4.17"
rand = "0.8"
hex-literal = "0.3.4"

# Substrate
## Primitives
sc-cli = "0.10.0-dev"
sp-io = "7.0.0"
sp-core = "7.0.0"
sc-executor = "0.10.0-dev"
sc-service = "0.10.0-dev"
sc-telemetry = "4.0.0-dev"
sc-keystore = "4.0.0-dev"
sp-keystore = "0.13.0"
sp-keyring = "7.0.0"
sc-transaction-pool = "4.0.0-dev"
sp-transaction-pool = "4.0.0-dev"
sp-inherents = "4.0.0-dev"
sc-transaction-pool-api = "4.0.0-dev"
sp-transaction-storage-proof = "4.0.0-dev" 
sc-consensus-aura = "0.10.0-dev"
sc-consensus-babe-rpc = "0.10.0-dev"
sp-consensus-aura = "0.10.0-dev"
sp-consensus-babe = "0.10.0-dev"
sp-consensus = "0.10.0-dev"
sc-consensus = "0.10.0-dev"
sc-finality-grandpa = "0.10.0-dev"
sc-finality-grandpa-rpc = "0.10.0-dev"
sp-finality-grandpa = "4.0.0-dev"
sc-client-api = "4.0.0-dev"
sp-runtime = "7.0.0"
sp-timestamp = "4.0.0-dev"
sc-consensus-babe = "0.10.0-dev"
sc-consensus-epochs = "0.10.0-dev"
sc-consensus-slots = "0.10.0-dev"
sc-consensus-uncles = "0.10.0-dev"
sc-network = "0.10.0-dev"
sp-authorship = "4.0.0-dev" 
sp-authority-discovery = "4.0.0-dev"
sc-authority-discovery = "0.10.0-dev"
sc-chain-spec = "4.0.0-dev"
sc-client-db = "0.10.0-dev"
sp-blockchain = "4.0.0-dev"
sp-block-builder = "4.0.0-dev"
sc-basic-authorship = "0.10.0-dev"
sc-sync-state-rpc = "0.10.0-dev"
sp-api = "4.0.0-dev"
sc-sysinfo = "6.0.0-dev"
sc-network-common = "0.10.0-dev"

# FRAME
pallet-im-online = "4.0.0-dev"
frame-system = "4.0.0-dev"
pallet-asset-tx-payment = "4.0.0-dev"
pallet-transaction-payment = "4.0.0-dev"
frame-system-rpc-runtime-api = "4.0.0-dev"
frame-support = "4.0.0-dev"
mmr-rpc = "4.0.0-dev"

# These dependencies are used for the node template's RPCs
sc-rpc = "4.0.0-dev"
sp-rpc = "6.0.0"
sc-rpc-api = "0.10.0-dev"
sc-rpc-spec-v2 = "0.10.0-dev"
substrate-frame-rpc-system = "4.0.0-dev"
pallet-transaction-payment-rpc = "4.0.0-dev"
substrate-state-trie-migration-rpc = "4.0.0-dev"

# These dependencies are used for runtime benchmarking
frame-benchmarking = "4.0.0-dev"
frame-benchmarking-cli = "4.0.0-dev"

# Try-runtime
try-runtime-cli = { version = "0.10.0-dev", optional = true }

[build-dependencies]
substrate-build-script-utils = "3.0.0"
clap = { version = "4.0.9", optional = true }
clap_complete = { version = "4.0.2", optional = true }
frame-benchmarking-cli = { version = "4.0.0-dev", optional = true }

[dev-dependencies]
sp-tracing = "4.0.0-dev"
tempfile = "3.1.0"

[features]
default = ["cli"]
cli = [
	"clap",
	"clap_complete",
	"frame-benchmarking-cli",
]
runtime-benchmarks = [
	"da-runtime/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
]
# Enable features that allow the runtime to be tried and debugged. Name might be subject to change
# in the near future.
try-runtime = [
	"da-runtime/try-runtime", 
	"try-runtime-cli/try-runtime",
	"da-primitives/try-runtime"
]


