[package]
name = "nomad-updater-manager"
version = "1.0.1"
authors = [""]
edition = "2021"
license = "Apache-2.0"
homepage = ""
repository = ""
description = "Nomad Updater Manager Module"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Substrate
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2", default-features = false, features = ["derive"] }

sp-core = { version = "7", default-features = false }
sp-io = { version = "7", default-features = false, optional = true }
sp-runtime = { version = "7", default-features = false, optional = true }

frame-support = { version = "4.0.0-dev", default-features = false }
frame-system = { version = "4.0.0-dev", default-features = false }

[dev-dependencies]
avail-core = { version = "0.5", features = ["runtime"] }

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"frame-support/std",
	"frame-system/std",
]
runtime-benchmarks = [
	"sp-runtime/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"avail-core/try-runtime"
]
