[package]
name = "nomad-home"
version = "4.0.0-dev"
description = "FRAME pallet template for defining custom runtime logic."
authors = ["Substrate DevHub <https://github.com/substrate-developer-hub>"]
homepage = "https://substrate.io/"
edition = "2021"
license = "Unlicense"
publish = false
repository = "https://github.com/substrate-developer-hub/substrate-node-template/"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Our crates
nomad-signature = { git = "https://github.com/availproject/avail-core", tag = "markotest", default-features = false }
nomad-merkle = { git = "https://github.com/availproject/avail-core", tag = "markotest", default-features = false }
nomad-base = { git = "https://github.com/availproject/avail-core", tag = "markotest", default-features = false }
nomad-core = { git = "https://github.com/availproject/avail-core", tag = "markotest", default-features = false }
nomad-updater-manager = { path = "../updater-manager", default-features = false }

# Substrate 
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2.5.0", default-features = false, features = ["derive"] }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
frame-system = { path = "../../../../pallets/system", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false, optional = true }

# Others
hex-literal = { version = "0.3.4", optional = true }

[dev-dependencies]
avail-core = { git = "https://github.com/availproject/avail-core", tag = "markotest", features = ["runtime"] }
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
sp-io = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
test-case = "1.2.3"

[features]
default = [ "std" ]
std = [
	"codec/std",
	"frame-benchmarking?/std",
	"frame-support/std",
	"frame-system/std",
	"hex-literal",
	"nomad-base/std",
	"nomad-core/std",
	"nomad-merkle/std",
	"nomad-signature/std",
	"nomad-updater-manager/std",
	"scale-info/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
]

runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"hex-literal",
	"nomad-updater-manager/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"nomad-updater-manager/try-runtime",
]
