[package]
name = "nomad-home"
version = "4.0.0-dev"
description = "FRAME pallet template for defining custom runtime logic."
authors = ["Substrate DevHub <https://github.com/substrate-developer-hub>"]
homepage = "https://substrate.io/"
edition = "2021"
license = "Unlicense"
publish = false
repository = "https://github.com/substrate-developer-hub/substrate-node-template/"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Our crates
nomad-signature = { version = "0.1", default-features = false }
nomad-merkle = { version = "0.1", default-features = false }
nomad-base = { version = "0.1", default-features = false }
nomad-core = { version = "0.1", default-features = false }
nomad-updater-manager = { path = "../updater-manager", default-features = false }

# Substrate 
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2", default-features = false, features = ["derive"] }
sp-core = { version = "7", default-features = false }

sp-std = { version = "5", default-features = false }
frame-support = { version = "4.0.0-dev", default-features = false }
frame-system = { version = "4.0.0-dev", default-features = false }
frame-benchmarking = { version = "4.0.0-dev", default-features = false, optional = true }

# Others
hex-literal = { version = "0.3.4", optional = true }

[dev-dependencies]
avail-core = { version = "0.5", features = ["runtime"] }

sp-runtime = { version = "7" }
frame-benchmarking = { version = "4.0.0-dev" }
sp-io = { version = "7" }

test-case = "1.2.3"

[features]
default = ["std"]
std = [
	"codec/std",
	"scale-info/std",
	"sp-core/std",
	"sp-std/std",
	"frame-support/std",
	"frame-system/std",
	"nomad-base/std",
	"nomad-core/std",
	"nomad-signature/std",
	"nomad-merkle/std",
	"nomad-updater-manager/std",
	"hex-literal",
	"frame-benchmarking?/std"
]

runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"frame-benchmarking",
	"hex-literal",
]
try-runtime = [
	"frame-support/try-runtime",
]
