[package]
name = "nomad-da-bridge"
version = "1.0.1"
authors = [""]
edition = "2021"
license = "Apache-2.0"
homepage = ""
repository = ""
description = "Nomad Data Attestation Bridge Module"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Our crates
avail-core = { git = "https://github.com/availproject/avail-core", tag = "markotest", default-features = false, features = ["runtime"] }
nomad-core = { git = "https://github.com/availproject/avail-core", tag = "markotest", default-features = false }
nomad-home = { path = "../home", default-features = false }

#  Substrate 
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2.5.0", default-features = false, features = ["derive"] }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false }
frame-system = { path = "../../../../pallets/system", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0", default-features = false, optional = true }

# 3rd party
hex-literal = { version = "0.3.4", optional = true }

[dev-dependencies]
nomad-base = { git = "https://github.com/availproject/avail-core", tag = "markotest" }
nomad-merkle = { git = "https://github.com/availproject/avail-core", tag = "markotest" }
nomad-updater-manager = { path = "../updater-manager" }

sp-io = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }

[features]
default = [ "std" ]
std = [
	"avail-core/std",
	"codec/std",
	"frame-benchmarking?/std",
	"frame-support/std",
	"frame-system/std",
	"hex-literal",
	"nomad-core/std",
	"nomad-home/std",
	"nomad-updater-manager/std",
	"scale-info/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
]

runtime-benchmarks = [
	"frame-benchmarking",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"hex-literal",
	"nomad-home/runtime-benchmarks",
	"nomad-updater-manager/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"nomad-home/try-runtime",
	"nomad-updater-manager/try-runtime",
]
